<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <div th:replace="fragments/head :: head('All Posts')"></div>
    <!-- Add Custom CSS Below-->
    <link rel="stylesheet" href="css/allPosts.css" />
    <style>
        .card-title, .card-text {
            color: #000;
        }

        .badge {
            font-weight: 300;
        }

        .badge-primary {
            background-color: #2F4858;
        }

        .badge-secondary {
            background-color: #33658A;
        }

        /*// Medium devices (tablets, 768px and up)*/
        @media (min-width: 768px) {
            #content {
                width: auto;
            }
        }
    </style>
</head>

<body>

<main>
    <div id="wrapper">
        <!-- side-navbar -->
        <div sec:authorize="isAuthenticated()">
            <nav th:replace="fragments/side-navbar :: side-navbar"></nav>
        </div>
        <!-- /#side-navbar-wrapper -->

        <!-- Page Content -->
        <div id="content">
            <!--Make sure to keep all page content within the #content div-->
            <div sec:authorize="isAuthenticated()">
                <nav th:replace="fragments/side-navbar :: side-navbar-toggler"></nav>
            </div>

            <div class="container-fluid">
                <input type="text" class="form-control my-3" id="search" name="search" placeholder="search" />
                <div class="row">
                    <div class="col-12 my-2" th:each="post : ${posts}">
                        <div class="entire-card">
                            <div class="innerCard-body">
                                <div class="left-side-container">
                                    <h1 class="title" th:text="${post.title}"></h1>
                                    <div class="chip">
                                        <img src="img/AmosDavis.jpg" alt="Person" width="96" height="96" />
                                        Amos Davis
                                    </div>
                                    <!--/#aPavatar-->
                                </div>
                                <!-- /#left-side-container -->

                                <div class="right-side-container">

                                    <p class="text-description" th:text="${post.body}"></p>

                                    <a th:href="'/posts/' + ${post.id}" class="infoBtn">More Info</a>
                                </div>
                                <!-- /#right-side-container -->
                            </div>
                            <!-- /#innerCard-body -->
                        </div>
                        <!-- /#entire-card -->
                    </div>
                    <!-- /#col-12 -->
                </div>
                <!-- /#row -->
            </div>
            <!-- /#container-fluid -->
        </div>
        <!-- /#content -->
    </div>
    <!-- /#wrapper -->

    <!-- Overlay -->
    <div class="overlay"></div>
</main>
    <script th:replace="fragments/scripts :: scripts"></script>

</body>
</html>