<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <div th:replace="fragments/head :: head('Default')"></div>
</head>

<body>
<main>
    <div class="wrapper">
        <!-- Sidebar  -->
            <nav th:replace="fragments/navbar :: navbarcollapse"></nav>

        <!-- Page Content  -->
        <div id="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12 col-md-6 d-flex justify-content-center" th:each="post : ${posts}">
                        <h1 th:text="${post.title}"></h1>
                        <p th:text="${post.body}"></p>
                    </div>
                    <div class="col-sm-12 col-md-6 d-flex justify-content-center">




                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<!--<script th:replace="fragments/footer :: footer"></script>-->
<script th:replace="fragments/scripts :: scripts"></script>
</body>
</html>