<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <div th:replace="fragments/head :: head('Default')"></div>
    <!-- Add Custom CSS Below-->
    <link rel="stylesheet" href="/css/google-maps.css" />
    <style></style>
</head>

<body>

<main>
    <div id="wrapper">
        <!-- side-navbar -->
        <div sec:authorize="isAuthenticated()">
            <nav th:replace="fragments/side-navbar :: side-navbar"></nav>
        </div>
        <!-- /#side-navbar-wrapper -->

        <!-- Page Content -->
        <div id="content">
            <!--Make sure to keep all page content within the #content div-->
            <div sec:authorize="isAuthenticated()">
                <nav th:replace="fragments/side-navbar :: side-navbar-toggler"></nav>
            </div>

            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <h1>Create Post</h1>

                        <form th:action="@{/posts/create}" th:method="POST" th:object="${post}">

                            <!-- Title -->
                            <div class="form-group">
                                <label for="title" class="placeholder-label">
                                    <input id="title" name="title" class="form-control" type="text" placeholder=" " th:field="*{title}" />
                                    <span class="placeholder-text">Title</span>
                                </label>
                            </div>

                            <!-- Body -->
                            <div class="form-group">
                                <label for="body" class="placeholder-label">
                                    <textarea id="body" name="body" class="form-control" type="text" placeholder=" " th:field="*{body}"></textarea>
                                    <span class="placeholder-text placeholder-text-area">Description</span>
                                </label>
                            </div>

                            <!-- Date -->
                            <div class="form-group">
                                <label for="date" class="placeholder-label">
                                    <input id="date" name="date" class="form-control" type="date" placeholder=" " th:field="*{date}" />
                                    <span class="placeholder-text" id="span-date">Date</span>
                                </label>
                            </div>

                            <!-- Google Map -->
                            <div class="form-group">
                                <label>Meetup Location: </label><span id="location"></span>
                                <input id="latitude" type="hidden" th:field="*{latitude}" value=""/>
                                <input id="longitude" type="hidden" th:field="*{longitude}" value=""/>
                            </div>
                            <div id="map"></div>

                            <input type="submit" class="btn btn-outline-primary btn-block" value="Submit" id="submit-btn" />
                        </form>
                    </div>
                    <!-- /#col-12 -->
                </div>
                <!-- /#row -->
            </div>
            <!-- /#container-fluid -->
        </div>
        <!-- /#content -->
    </div>
    <!-- /#wrapper -->

    <!-- Overlay (are we using this?) -->
    <!--<div class="overlay"></div>-->

</main>
<script th:replace="fragments/scripts :: scripts"></script>
<script th:replace="fragments/google-map :: google-map"></script>
<script async="async" defer="defer" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAbF5MJZ8-olDNTPyN-vD679LUpDuf9ARk&amp;callback=initMap">
</script>
</body>
</html>