<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>Edit Post</title>
    <th:block th:replace="fragments/sidenav-bar :: sidenav-bar-styles"></th:block>
    <!-- Style form -->
    <!--<link rel="stylesheet" href="/css/custom.css" />-->
</head>

<body>

    <div id="wrapper">
        <nav th:replace="fragments/sidenav-bar :: sidenav-bar"></nav>

        <!-- Content -->
        <div id="content">
            <nav th:replace="fragments/sidenav-bar :: sidenav-bar-toggler"></nav>

            <!-- Actual Content -->
            <div class="container-fluid">
                <div class="row">
                    <h1>Create Post</h1>

                    <form th:action="@{/posts/{id}/edit(id = ${post.id})}" th:method="POST" th:object="${post}">

                        <input type="hidden" th:field="*{id}" />
                        <input type="hidden" th:field="*{user}" />
                        <!-- body title-->
                        <div class="form-group">
                            <label for="title">Title</label>
                            <input class="form-control" id="title" type="text" placeholder="Enter title" th:field="*{title}" />
                        </div>

                        <!--body text-->
                        <div class="form-group">
                            <label for="body">Body</label>
                            <textarea class="form-control" id="body" type="text" th:field="*{body}" placeholder="Enter body"></textarea>
                        </div>

                        <!--body date-->
                        <div class="form-group">
                            <label for="date">Date</label>
                            <input class="form-control" id="date" type="date" th:field="*{date}" placeholder="Enter date" />
                        </div>

                        <!--body latitude-->
                        <div class="form-group">
                            <label for="latitude">Latitude</label>
                            <input class="form-control" id="latitude" type="number" th:field="*{latitude}" placeholder="Enter latitude" />
                        </div>

                        <!--body longitude-->
                        <div class="form-group">
                            <label for="longitude">Longitude</label>
                            <input class="form-control" id="longitude" type="number" th:field="*{longitude}" placeholder="Enter longitude" />
                        </div>

                        <button class="btn btn-success">Submit</button>
                    </form>

                </div>
            </div>
        </div>
    </div>

    <!-- Overlay -->
    <div class="overlay"></div>

    <script th:replace="fragments/sidenav-bar :: sidebar-nav-scripts"></script>
</body>
</html>




