<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <div th:replace="fragments/head :: head('Individual Post Page')"></div>
</head>

<body>
<main>
    <div id="wrapper">
        <!-- Sidebar -->
        <nav th:replace="fragments/navbar :: navbarcollapse"></nav>

        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <!--Make sure to keep all page content within the #page-content-wrapper.-->
        <div id="page-content-wrapper">
            <a href="#menu-toggle" class="btn btn-secondary" id="menu-toggle">Toggle Menu</a>
            <div class="container-fluid">
                <h1 class="text-center">The Individual's Post lives here</h1>
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <h1>Title: <span th:text="${post.title}"></span></h1>
                        <p>date: <span th:text="${post.date}"></span></p>

                        <p>body: <span th:text="${post.body}"></span></p>
                        <p>user: <span th:text="${post.user.username}"></span></p>

                        <a class="btn btn-warning" th:href="'/posts/' + ${post.id} + '/edit'" th:if="${isOwner}">Edit Post Details</a>

                        <form th:action="@{/posts/delete}" th:method="POST">
                            <input type="hidden" th:value="${post.id}" name="id" />
                            <button class="btn btn-danger">Delete Post</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->
    </div>
    <!-- /#wrapper -->

</main>
<!--<script th:replace="fragments/footer :: footer"></script>-->
<script th:replace="fragments/scripts :: scripts"></script>
</body>
</html>