<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>Post</title>
    <th:block th:replace="fragments/sidenav-bar :: sidenav-bar-styles"></th:block>
</head>

<body>

    <div id="wrapper">
        <nav th:replace="fragments/sidenav-bar :: sidenav-bar"></nav>

        <!-- Content -->
        <div id="content">
            <nav th:replace="fragments/sidenav-bar :: sidenav-bar-toggler"></nav>

            <!-- Actual Content -->
            <div class="container-fluid">
                <h1 class="text-center">The Individual's Post lives here</h1>
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <h1>Title: <span th:text="${post.title}"></span></h1>
                        <p>date: <span th:text="${post.date}"></span></p>

                        <p>body: <span th:text="${post.body}"></span></p>
                        <p>user: <span th:text="${post.user.username}"></span></p>

                        <a class="btn btn-warning" th:href="'/posts/' + ${post.id} + '/edit'" th:if="${isOwner}">Edit Post Details</a>

                        <form th:action="@{/posts/delete}" th:method="POST" th:if="${isOwner}">
                            <input type="hidden" th:value="${post.id}" name="id" />
                            <button class="btn btn-danger">Delete Post</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Overlay -->
    <div class="overlay"></div>

    <script th:replace="fragments/sidenav-bar :: sidebar-nav-scripts"></script>
</body>
</html>


