<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="developerPage">
<div class="row text-center">
    <div class="col-sm-12 col-md-6">
        <div class="col-12">
            <img class="rounded-circle mx-auto d-block img-thumbnail devImg" src="img/GrahamDavis.jpg" alt="Xavier Salazar" />
        </div>
        <div class="col-12 box1">
            <div class="row">
                <div class="col-sm-4 col-md-6 col-lg-4 mx-auto">
                    <a href="https://www.linkedin.com/in/xavier-salazar/" target="_blank">
                        <i class="fab fa-github-square fa-5x hvr-wobble-top" style="color:black"></i>
                    </a>
                </div>
                <div class="col-sm-4 col-md-6 col-lg-4 mx-auto">
                    <a href="https://github.com/xaviersalazar" target="_blank">
                        <i class="fab fa-linkedin fa-5x hvr-wobble-top faIcon" style="color:black"></i>
                    </a>
                </div>
                <div class="col-sm-4 col-md-6 col-lg-4 mx-auto">
                    <a href="mailto:salazar.xavier26@gmail.com" target="_blank">
                        <i class="fa fa-envelope fa-5x hvr-wobble-top faIcon" style="color:black"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>


    <div class="col-sm-12 col-md-6">
        <div class="col-12">
            <img class="rounded-circle mx-auto d-block img-thumbnail devImg" src="img/XavierSalazar.jpg" alt="Xavier Salazar" />
        </div>
        <div class="col-12 box1">
            <div class="row text-center">
                <div class="col-sm-4 col-md-6 col-lg-4 mx-auto">
                    <a href="https://www.linkedin.com/in/xavier-salazar/" target="_blank">
                        <i class="fab fa-github-square fa-5x hvr-wobble-top faIcon" style="color:black"></i>
                    </a>
                </div>
                <div class="col-sm-4 col-md-6 col-lg-4 mx-auto">
                    <a href="https://github.com/xaviersalazar" target="_blank">
                        <i class="fab fa-linkedin fa-5x hvr-wobble-top faIcon" style="color:black"></i>
                    </a>
                </div>
                <div class="col-sm-4 col-md-6 col-lg-4 mx-auto">
                    <a href="mailto:salazar.xavier26@gmail.com" target="_blank">
                        <i class="fa fa-envelope fa-5x hvr-wobble-top faIcon" style="color:black"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>


    <div class="col-sm-12 col-md-6">
        <div class="col-12">
            <img class="rounded-circle mx-auto d-block img-thumbnail devImg" src="img/XavierSalazar.jpg" alt="Xavier Salazar" />
        </div>
        <div class="col-12 box1">
            <div class="row">
                <div class="col-sm-4 col-md-6 col-lg-4 mx-auto">
                    <a href="https://www.linkedin.com/in/xavier-salazar/" target="_blank">
                        <i class="fab fa-github-square fa-5x hvr-wobble-top faIcon" style="color:black"></i>
                    </a>
                </div>
                <div class="col-sm-4 col-md-6 col-lg-4 mx-auto">
                    <a href="https://github.com/xaviersalazar" target="_blank">
                        <i class="fab fa-linkedin fa-5x hvr-wobble-top faIcon" style="color:black"></i>
                    </a>
                </div>
                <div class="col-sm-4 col-md-6 col-lg-4 mx-auto">
                    <a href="mailto:salazar.xavier26@gmail.com" target="_blank">
                        <i class="fa fa-envelope fa-5x hvr-wobble-top faIcon" style="color:black"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>


    <div class="col-sm-12 col-md-6">
        <div class="col-12">
            <img class="rounded-circle mx-auto d-block img-thumbnail devImg" src="img/XavierSalazar.jpg" alt="Xavier Salazar" />
        </div>
        <div class="col-12 box1">
            <div class="row">
                <div class="col-sm-4 col-md-6 col-lg-4 mx-auto">
                    <a href="https://www.linkedin.com/in/xavier-salazar/" target="_blank">
                        <i class="fab fa-github-square fa-5x hvr-wobble-top faIcon" style="color:black"></i>
                    </a>
                </div>
                <div class="col-sm-4 col-md-6 col-lg-4 mx-auto">
                    <a href="https://github.com/xaviersalazar" target="_blank">
                        <i class="fab fa-linkedin fa-5x hvr-wobble-top faIcon" style="color:black"></i>
                    </a>
                </div>
                <div class="col-sm-4 col-md-6 col-lg-4 mx-auto">
                    <a href="mailto:salazar.xavier26@gmail.com" target="_blank">
                        <i class="fa fa-envelope fa-5x hvr-wobble-top faIcon" style="color:black"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /#row -->
</th:block>

</html>