<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="developerPage">
    <div class="row">
        <div class="col-12 col-lg-6 mt-4">
            <div class="card">
                <img class="dev-img" src="img/XavierSalazar.jpg" alt="Xavier Salazar" />
                <h5 class="text-center name">Xavier Salazar</h5>
                <p class="text-center text-muted">FULL STACK DEVELOPER</p>
                <p class="card-desc text-center">"We’re just enthusiastic about what we do." -Steve Jobs</p>
                <!--<button type="button" class="btn btn-outline-primary btn-more">More</button>-->
                <hr />
                <div class="row icon-row">
                    <div class="col">
                        <a href="https://github.com/xaviersalazar" target="_blank">
                            <i class="fab fa-linkedin-in icons"></i>
                        </a>
                    </div>
                    <div class="col">
                        <a href="https://www.linkedin.com/in/xavier-salazar/" target="_blank">
                            <i class="fab fa-github icons"></i>
                        </a>
                    </div>
                    <div class="col">
                        <a href="mailto:salazar.xavier26@gmail.com" target="_blank">
                            <i class="fas fa-envelope icons"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-lg-6 mt-4">
            <div class="card">
                <img class="dev-img" src="img/GrahamDavis.jpg" alt="Graham Davis" />
                <h5 class="text-center name">Graham Davis</h5>
                <p class="text-center text-muted">FULL STACK DEVELOPER</p>
                <p class="card-desc text-center">"I begin with an idea and then it becomes something else." - Pablo Picasso</p>
                <!--<button type="button" class="btn btn-outline-primary btn-more">More</button>-->
                <hr />
                <div class="row icon-row">
                    <div class="col">
                        <a href="https://github.com/Graham-Davis-SATX" target="_blank">
                            <i class="fab fa-linkedin-in icons"></i>
                        </a>
                    </div>
                    <div class="col">
                        <a href="https://www.linkedin.com/in/grahamdavis210/" target="_blank">
                            <i class="fab fa-github icons"></i>
                        </a>
                    </div>
                    <div class="col">
                        <a href="mailto:Davis.graham.satx@gmail.com" target="_blank">
                            <i class="fas fa-envelope icons"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-lg-6 mt-4">
            <div class="card">
                <img class="dev-img" src="img/JillianWysoki.jpg" alt="Jillain Wysoki" />
                <h5 class="text-center name">Jillian Wysoki</h5>
                <p class="text-center text-muted">FULL STACK DEVELOPER</p>
                <p class="card-desc text-center">"Talent is a pursued interest. Anything that you're willing to practice, you can do." -Bob Ross</p>
                <!--<button type="button" class="btn btn-outline-primary btn-more">More</button>-->
                <hr />
                <div class="row icon-row">
                    <div class="col">
                        <a href="https://github.com/JWYSOKI" target="_blank">
                            <i class="fab fa-linkedin-in icons"></i>
                        </a>
                    </div>
                    <div class="col">
                        <a href="https://www.linkedin.com/in/jillianwysoki/" target="_blank">
                            <i class="fab fa-github icons"></i>
                        </a>
                    </div>
                    <div class="col">
                        <a href="mailto:jillianwysoki@gmail.com" target="_blank">
                            <i class="fas fa-envelope icons"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-lg-6 mt-4">
            <div class="card">
                <img class="dev-img" src="img/AmosDavis.jpg" alt="Amos Davis" />
                <h5 class="text-center name">Amos Davis</h5>
                <p class="text-center text-muted">FULL STACK DEVELOPER</p>
                <p class="card-desc text-center">"If you want something you've never had, you've got to do something you've never done"</p>
                <!--<button type="button" class="btn btn-outline-primary btn-more">More</button>-->
                <hr />
                <div class="row icon-row">
                    <div class="col">
                        <a href="https://github.com/amos-davis" target="_blank">
                            <i class="fab fa-linkedin-in icons"></i>
                        </a>
                    </div>
                    <div class="col">
                        <a href="https://www.linkedin.com/in/amos-davis/" target="_blank">
                            <i class="fab fa-github icons"></i>
                        </a>
                    </div>
                    <div class="col">
                        <a href="mailto:amos.davis367@gmail.com" target="_blank">
                            <i class="fas fa-envelope icons"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- /#row -->
</th:block>

</html>