<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<nav th:fragment="sideNavbar" id="sidebar">
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand"><a href="#">Start Bootstrap</a></li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Profiles
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" th:object="${user}">
                    <a class="dropdown-item" href="/users">all profiles</a>
                    <a class="dropdown-item" href="/register">sign up</a>
                    <a class="dropdown-item" href="#">my profile</a>

                    <!--<form th:action="'/users/' + ${user.id} + '/details/edit'" th:method="POST" th:object="${userDetail}">-->

                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Posts
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/posts">view posts</a>
                    <a class="dropdown-item" href="#">add new post</a>
                </div>
            </li>

            <li class="nav-item"><a class="nav-link" href="#">Resources</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Events</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Contact/About</a></li>
            <li>
                <form th:action="@{/logout}" th:method="post">
                    <button class="btn-link btn" style="margin-top: 8px">Logout</button>
                </form>
            </li>
        </ul>
    </div>
</nav>

</html>