<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<nav th:fragment="sideNavbar" id="sidebar">
    <div class="sidebar-header">
        <h3 class="text-center">LOGO here?</h3>
        <p class="sidenavbar-para text-center">Tech{knowledge}y</p>
    </div>

    <ul class="list-unstyled components">


        <li class="active">
            <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Profile</a>
            <ul class="collapse list-unstyled" id="homeSubmenu">
                <li><a href="#" class="sidenavbar-a">All Profiles</a></li>
                <li><a href="#" class="sidenavbar-a">Mentor Profile</a></li>
                <li><a href="#">Student Profiles</a></li>
                <li><a href="#">My Profile</a></li>
            </ul>
        </li>

        <li>
            <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Feed</a>
            <ul class="collapse list-unstyled" id="pageSubmenu">
                <li><a href="#">View Posts</a></li>
                <li><a href="#">Add New Post</a></li>
            </ul>
        </li>

        <li><a href="#">Resources</a></li>
        <li><a href="#">Events</a></li>
        <li><a href="/developers#">Contact</a></li>

    </ul>

    <ul class="list-unstyled CTAs">
        <li>Logout</li>
    </ul>

</nav>

<nav th:fragment="navbarcollapse" class="navbar navbar-expand-lg d-flex justify-content-end" style="background-color: #272526;">
    <button type="button" id="sidebarCollapse" class="btn btn-outline-secondary">
        <i class="fas fa-align-left"></i>
        <span>Close Sidebar</span>
    </button>
</nav>

</html>