<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="scripts">
    <!-- jQuery CDN - Slim version (=without AJAX) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <!-- jQuery Custom Scroller CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>

    <!-- Menu Toggle Script -->
    <script>
        $("#menu-toggle").click(function(e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    </script>

</th:block>


<th:block th:fragment="availScript">
    <!-- Availability Form Script -->
    <script>
        function showHideTimeFunction() {
            var checkBoxMon = document.getElementById("dowMonday");
            var checkBoxTue = document.getElementById("dowTuesday");
            var checkBoxWed = document.getElementById("dowWednesday");
            var checkBoxThu = document.getElementById("dowThursday");
            var checkBoxFri = document.getElementById("dowFriday");
            var checkBoxSat = document.getElementById("dowSaturday");
            var checkBoxSun = document.getElementById("dowSunday");
            var startMonday = document.getElementById("startMonday");
            var endMonday = document.getElementById("endMonday");
            var startTuesday = document.getElementById("startTuesday");
            var endTuesday = document.getElementById("endTuesday");
            var startWednesday = document.getElementById("startWednesday");
            var endWednesday = document.getElementById("endWednesday");
            var startThursday = document.getElementById("startThursday");
            var endThursday = document.getElementById("endThursday");
            var startFriday = document.getElementById("startFriday");
            var endFriday = document.getElementById("endFriday");
            var startSaturday = document.getElementById("startSaturday");
            var endSaturday = document.getElementById("endSaturday");
            var startSunday = document.getElementById("startSunday");
            var endSunday = document.getElementById("endSunday");

            if(checkBoxMon.checked){
                startMonday.style.display = "block";
                endMonday.style.display = "block";
            } else {
                startMonday.style.display = "none";
                endMonday.style.display = "none";
            }

            if(checkBoxTue.checked){
                startTuesday.style.display = "block";
                endTuesday.style.display = "block";
            } else {
                startTuesday.style.display = "none";
                endTuesday.style.display = "none";
            }

            if(checkBoxWed.checked){
                startWednesday.style.display = "block";
                endWednesday.style.display = "block";
            } else {
                startWednesday.style.display = "none";
                endWednesday.style.display = "none";
            }

            if(checkBoxThu.checked){
                startThursday.style.display = "block";
                endThursday.style.display = "block";
            } else {
                startThursday.style.display = "none";
                endThursday.style.display = "none";
            }

            if(checkBoxFri.checked){
                startFriday.style.display = "block";
                endFriday.style.display = "block";
            } else {
                startFriday.style.display = "none";
                endFriday.style.display = "none";
            }

            if(checkBoxSat.checked){
                startSaturday.style.display = "block";
                endSaturday.style.display = "block";
            } else {
                startSaturday.style.display = "none";
                endSaturday.style.display = "none";
            }

            if(checkBoxSun.checked){
                startSunday.style.display = "block";
                endSunday.style.display = "block";
            } else {
                startSunday.style.display = "none";
                endSunday.style.display = "none";
            }
        }
    </script>

</th:block>

</html>