<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/head :: head('All Users Details')"></div>
</head>
    <body>

        <h1>These are All users' Details page</h1>


          <!--Make changes to show All users' information on this page.-->

        <div th:each="userDetail : ${userDetails}">
            <h2 th:text="${userDetail.fName}"></h2>
            <h2 th:text="${userDetail.lName}"></h2>


            <h2 th:text="${userDetail.city}"></h2>
            <p th:text="${userDetail.state}"></p>
            <h2 th:text="${userDetail.zipCode}"></h2>

            <h2 th:text="${userDetail.bio}"></h2>
            <!--<button class="btn btn-secondary">Add a post</button>-->
        </div>

        <script th:replace="fragments/scripts :: scripts"></script>

    </body>
</html>