<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <div th:replace="fragments/head :: head('All Users')"></div>
</head>

<body>
<main>
    <div class="wrapper">
        <!-- Sidebar  -->
        <nav th:replace="fragments/navbar :: sideNavbar"></nav>

        <!-- Page Content  -->
        <div id="content">
            <nav th:replace="fragments/navbar :: navbarcollapse"></nav>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12 col-md-6 d-flex justify-content-center" th:each="user : ${users}">
                        <ul>
                            <li><p>Username</p><h2 th:text="${user.username}"></h2></li>
                            <li><p>Email</p><h2 th:text="${user.email}"></h2></li>
                            <li><p>Gender</p><h2 th:text="${user.gender}"></h2></li>
                            <li><p>Birthday</p><h2 th:text="${user.birthdate}"></h2></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<!--<script th:replace="fragments/footer :: footer"></script>-->
<script th:replace="fragments/scripts :: scripts"></script>
</body>
</html>