<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/head :: head('Profile')"></div>
</head>
    <body>

        <h1>This is the current user's profile page</h1>

        <div th:each="userDetail : ${userDetails}">
            <h2 th:text="${userDetail.fName}"></h2>
            <h2 th:text="${userDetail.lName}"></h2>


            <h2 th:text="${userDetail.city}"></h2>
            <p th:text="${userDetail.state}"></p>
            <h2 th:text="${userDetail.zipCode}"></h2>

            <h2 th:text="${userDetail.bio}"></h2>
            <!--<button class="btn btn-secondary">Add a post</button>-->
        </div>


    </body>
</html>