<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <div th:replace="fragments/head :: head('Default')"></div>
    <!-- Add Custom CSS Below-->
    <link rel="stylesheet" href="" />
    <style></style>
</head>

<body>

<main>
    <div id="wrapper">
        <!-- side-navbar -->
        <div sec:authorize="isAuthenticated()">
            <nav th:replace="fragments/side-navbar :: side-navbar"></nav>
        </div>
        <!-- /#side-navbar-wrapper -->

        <!-- Page Content -->
        <div id="content">
            <!--Make sure to keep all page content within the #content div-->
            <div sec:authorize="isAuthenticated()">
                <nav th:replace="fragments/side-navbar :: side-navbar-toggler"></nav>
            </div>

            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <h1 class="text-center">Create an Account</h1>

                        <form th:action="@{/register}" th:method="POST" th:object="${user}">
                            <div class="form-group">
                                <label for="username" class="text-white">Username</label>
                                <input id="username" name="username" type="text" class="form-control" placeholder="Enter a username" th:field="*{username}" />
                            </div>
                            <div class="form-group">
                                <label for="email" class="text-white">Email</label>
                                <input id="email" name="email" type="text" class="form-control" placeholder="Enter your email address" th:field="*{email}" />
                            </div>
                            <div class="form-group">
                                <label for="password" class="text-white">Password</label>
                                <input id="password" name="password" type="password" class="form-control" onkeyup='check();' placeholder="Enter your password" th:field="*{password}" />

                            </div>
                            <div class="form-group">
                                <label for="confirmPassword" class="text-white">Confirm Password</label>
                                <input id="confirmPassword" name="confirmPassword" type="password" class="form-control" onkeyup='check();' placeholder="Confirm Password"  />
                                <!--This line needed for strength pswd checker-->
                                <span id="message"></span>
                            </div>
                            <div class="form-group">
                                <label for="genderFormControlSelect" class="text-white">Gender</label>
                                <select class="form-control" id="genderFormControlSelect" th:field="*{gender}">
                                    <option value="disabled">Please Select</option>
                                    <option value="female">Female</option>
                                    <option value="male">Male</option>
                                    <option value="other">Other</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="statusSelect" class="text-white">Status</label>
                                <select class="form-control" id="statusSelect" th:field="*{status}">
                                    <option value="disabled">Please Select</option>
                                    <option value="mentor">Mentor</option>
                                    <option value="mentee">Mentee</option>
                                </select>
                            </div>
                            <div>
                                <button id="#btnSubmit" type="submit" onkeyup='check();' class="btn btn-primary">Submit</button>
                            </div>
                            <small id="loginHelp" class="form-text text-muted text-center"><a href="/login">Already have an account? Log in.</a></small>
                        </form>
                    </div>
                    <!-- /#col-12 -->
                </div>
                <!-- /#row -->
            </div>
            <!-- /#container-fluid -->
        </div>
        <!-- /#content -->
    </div>
    <!-- /#wrapper -->

    <!-- Overlay (are we using this?) -->
    <!--<div class="overlay"></div>-->

</main>

<script th:replace="fragments/scripts :: scripts"></script>
<script type="text/javascript">
    var check = function() {
        if (document.getElementById('password').value ==
            document.getElementById('confirmPassword').value) {
            document.getElementById('message').style.color = 'green';
            document.getElementById('message').innerHTML = 'Passwords must match';
            document.getElementById("#btnSubmit").disabled = false;
        } else {
            document.getElementById('message').style.color = 'red';
            document.getElementById('message').innerHTML = 'Password does not match';
            document.getElementById("#btnSubmit").disabled = true;
        }
    }
</script>
</body>
</html>