<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <div th:replace="fragments/head :: head('Profile')"></div>
    <!-- Add Custom CSS Below-->
    <link rel="stylesheet" href="" />
    <style>
        .single-profile {
            background-color: #F7F7F7;
            border-radius: 5px;
            width: 350px;
            color: #000;
            position: relative;
            height: 100%;
        }

        .single-profile-img {
            width: 30%;
            border-radius: 50%;
            position: relative;
            left: 15px;
        }
    </style>
</head>

<body>

<main>
    <div id="wrapper">
        <!-- side-navbar -->
        <div sec:authorize="isAuthenticated()">
            <nav th:replace="fragments/side-navbar :: side-navbar"></nav>
        </div>
        <!-- /#side-navbar-wrapper -->

        <!-- Page Content -->
        <div id="content">
            <!--Make sure to keep all page content within the #content div-->
            <div sec:authorize="isAuthenticated()">
                <nav th:replace="fragments/side-navbar :: side-navbar-toggler"></nav>
            </div>

            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 mb-3 mt-5">
                        <div class="single-profile mx-auto">
                            <div class="single-profile-content">
                                <img class="single-profile-img" th:src="@{~/img/male.png}" alt="male" />
                                <h4 th:text="${user.username}"></h4>
                            </div>
                        </div>
                    </div>
                    <!-- /#col-12 -->
                </div>
                <!-- /#row -->
            </div>
            <!-- /#container-fluid -->
        </div>
        <!-- /#content -->
    </div>
    <!-- /#wrapper -->

    <!-- Overlay (are we using this?) -->
    <!--<div class="overlay"></div>-->

</main>

<script th:replace="fragments/scripts :: scripts"></script>
</body>
</html>