<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title th:text="'Oops, ' + ${error}"></title>
</head>
<body style="background-color: whitesmoke">
<th:block th:switch="${error}">
    <div th:case="'Not Found'">
        <div style="margin: auto; width: 100%;">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">

            <div class="text-center error-pages">
                <a target="_blank" href="/home" class="btn btn-primary">
                    <img src="/img/404.png" alt="404 error" />Return to Tech{knowledge}y</a>
            </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div th:case="'Forbidden'">
        <div style="margin: auto; width: 50%;">
            <img src="img/403.png" alt="403 error" />
        </div>
        <h1 class="text-center text-white">You don't have permission to view this page.</h1>

    </div>


</th:block>

</body>
</html>