<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title th:text="'Oops, ' + ${error}"></title>
</head>
<body style="background-color: whitesmoke">
<th:block th:switch="${error}">
    <div th:case="'Not Found'">
        <div style="margin: auto; width: 50%;">
            <img src="/img/404.png" alt="404 error" />
        </div>

        <a href="/home">Go Home </a>

    </div>
    <div th:case="'Forbidden'">
        <div style="margin: auto; width: 50%;">
            <img src="img/403.png" alt="403 error" />
        </div>
        <h1 class="text-center text-white">You don't have permission to view this page.</h1>

    </div>
</th:block>

</body>
</html>