#span-date {
    font-size: 1rem;
    top: 0;
    transform: none;
}

#map {
    width: 100%;
    height: 305px;
    margin: 15px 0;
    top: -15px;
    padding-bottom: 10px
    /*left: 5px;*/
}

p, .marker-title {
    color: black;
}

/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    #map, .form-group, #submit-btn {
        /*width: 80%;*/
    }

}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
}

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { }
