<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">>
<head>
    <div th:replace="fragments/head :: head('Default')"></div>
</head>

<body>
<main>
    <div id="wrapper">
        <!-- Sidebar -->
        <nav th:replace="fragments/navbar :: sideNavbar"></nav>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <!--Make sure to keep all page content within the #page-content-wrapper.-->
        <div id="page-content-wrapper">
            <a href="#menu-toggle" class="btn btn-secondary" id="menu-toggle">Toggle Menu</a>
            <div class="container-fluid">
                <h1>Simple Page Layout</h1>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            </div>
            <div sec:authorize="isAuthenticated()">
                This content is only shown to authenticated users.

                User ID: <span th:text="${#authentication.principal.id}"/>
                Username: <span th:text="${#authentication.principal.username}"/>
                Email: <span th:text="${#authentication.principal.email}"/>
            </div>
        </div>
        <!-- /#page-content-wrapper -->
    </div>
    <!-- /#wrapper -->

</main>
<!--<script th:replace="fragments/footer :: footer"></script>-->
<script th:replace="fragments/scripts :: scripts"></script>
</body>
</html>


