<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>Developers</title>
    <th:block th:replace="fragments/sidenav-bar :: sidenav-bar-styles"></th:block>
</head>

<body>

    <div class="wrapper">
        <nav th:replace="fragments/sidenav-bar :: sidenav-bar"></nav>

        <!-- Page Content -->
        <div id="content">
            <nav th:replace="fragments/sidenav-bar :: sidenav-bar-toggler"></nav>

        </div>
    </div>

    <!-- Overlay -->
    <div class="overlay"></div>

    <!--<script th:replace="fragments/footer :: footer"></script>-->
    <script th:replace="fragments/sidenav-bar :: sidebar-nav-scripts"></script>

</body>
</html>