<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org" lang="en">-->
<!--<head>-->
    <!--<div th:replace="fragments/head :: head('Default')"></div>-->
<!--</head>-->

<!--<body>-->
<!--<main>-->
    <!--<div class="wrapper">-->
        <!--&lt;!&ndash; Sidebar  &ndash;&gt;-->
        <!--<nav th:replace="fragments/navbar :: sideNavbar"></nav>-->

        <!--&lt;!&ndash; Page Content  &ndash;&gt;-->
        <!--<div id="content">-->

            <!--<nav th:replace="fragments/navbar :: navbarcollapse"></nav>-->

            <!--<h2>Xavier Salazar</h2>-->
            <!--<img class="mx-auto d-block mt-5" src="img/XavierSalazar.jpg" alt="Xavier Salazar" id="xavier"/>-->
            <!--<p>A full-stack software developer with proficiency in Java, Javascript, MySQL, HTML and CSS. As our team leader, oversaw everything from backend database design to style and design.</p>-->
            <!--<div class="row">-->
                <!--<div class="col">-->
                    <!--<a href="https://www.linkedin.com/in/xavier-salazar/">-->
                        <!--<img class="LinkedIn" src="../img/linkedin.png" alt="Linkedin"/></a>-->
                <!--</div>-->

            <!--<div class="line"></div>-->

            <!--<h2>Graham Davis</h2>-->
            <!--<img class="mx-auto d-block mt-5" src="img/GrahamDavis.jpg" alt="Graham Davis" id="graham"/>-->


                <!--<p>Graham is a jack-of-all-trades. He is skilled at front and backend, so he is able to assist on all aspects of our project, solve problems, and help our team cross the finish line.</p>-->

            <!--<div class="line"></div>-->

            <!--<h2>Jillian Wysoki</h2>-->
            <!--<img class="mx-auto d-block mt-5" src="img/JillianWysoki.jpg" alt="Jillian Wysoki" id="jillian"/>-->

                <!--<p>Jillian’s contributions to our team include original idea concept, logo, design, organizing/planning, user experience, and front-end coding.</p>-->

                <!--<a href="https://www.linkedin.com/in/jillianwysoki/">-->
                    <!--<img class="LinkedIn" src="../img/linkedin.png" alt="Linkedin"/></a>-->

                <!--<a href="https://github.com/JWYSOKI">-->
                <!--<a href="mailto:jillianwysoki@gmail.com">-->

            <!--<div class="line"></div>-->

            <!--<h3>Amos Davis</h3>-->
            <!--<img class="mx-auto d-block mt-5" src="img/AmosDavis.jpg" alt="Amos Davis" id="amos"/>-->

                <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>-->
        <!--</div>-->
    <!--</div>-->
    <!--</div>-->

<!--</main>-->
<!--&lt;!&ndash;<footer th:replace="fragments/footer :: footer"></footer>&ndash;&gt;-->
<!--<script th:replace="fragments/scripts :: scripts"></script>-->
<!--</body>-->
<!--</html>-->

