<!-- Head -->
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>Resources</title>
    <th:block th:replace="fragments/sidenav-bar :: sidenav-bar-styles"></th:block>
</head>
<!-- Body -->
<div id="wrapper">
    <nav th:replace="fragments/sidenav-bar :: sidenav-bar"></nav>
    <!-- Content -->
    <div id="content">
        <nav th:replace="fragments/sidenav-bar :: sidenav-bar-toggler"></nav>
        <!-- Actual Content -->






    </div>
</div>
<!-- Overlay -->
<div class="overlay"></div>
<script th:replace="fragments/sidenav-bar :: sidebar-nav-scripts"></script>