<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <div th:replace="fragments/head :: head('Default')"></div>
    <!-- Add Custom CSS Below-->
    <link rel="stylesheet" href="/css/homepage.css" />
    <style></style>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark" id="nav-bar">
    <a class="navbar-brand" href="/">Tech{knowledge}y</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/developers">Contact</a>
            </li>
        </ul>
    </div>
</nav>
<main>
    <div class="jumbotron jumbotron-fluid w-100 h-100 p-0 m-0">
        <div class="image" >
            <img src="img/logo-home1.png" alt="logo" />
            <div class="center">
                <h1 class="text-center" id="hero-text">FIND YOUR MENTOR</h1>
                <em><h3 class="text-center" id="hero-text-small">Boost Your Coding Skills </h3></em>
                <a class="btn btn-outline-primary login-button" href="/login" role="button">CONNECT</a>
            </div>
        </div>
    </div>
</main>

<script th:replace="fragments/scripts :: scripts"></script>
</body>
</html>