<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!--<div th:replace="fragments/head :: head('Default')"></div>-->
</head>
<!--<nav th:replace="fragments/navbar :: unauthNavbar"></nav>-->
<main>
    <div class="jumbotron">
        <h1 class="display-4">Hello, world!</h1>
        <p class="lead">The Spring Framework is an application framework and inversion of control container for the Java platform.</p>
        <hr class="my-4" />
        <p>The framework's core features can be used by any Java application, but there are extensions for building web applications on top of the Java EE (Enterprise Edition) platform.</p>
        <p class="lead">
            <a class="btn btn-lg jumbotron-btn" href="https://spring.io/" target="_blank" role="button">Learn more</a>
        </p>
    </div>
</main>
<!--<footer th:replace="fragments/footer :: footer"></footer>-->
<!--<script th:replace="fragments/scripts :: scripts"></script>-->
</html>