<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/test.css" />
</head>
<body>
<!-- Wrapper for slides -->
<div class="carousel-inner">
    <div class="item active">
        <img src="https://www.tutorialandexample.com/bootstrap/images/slider1.png
" alt="slider1" style="width:100%;" />
        <div class="carousel-caption">
            <h3>Tutorialandexample</h3>
            <p>We are learning Bootstrap slider with caption</p>
        </div>
    </div>
    <div class="item">
        <img src="https://www.tutorialandexample.com/bootstrap/images/slider2.png
" alt="slider2" style="width:100%;" />
        <div class="carousel-caption">
            <h3>Slider Example</h3>
            <p>Easy to create slider with caption</p>
        </div>
    </div>
    <div class="item">
        <img src="https://www.tutorialandexample.com/bootstrap/images/slider2.png
" alt="slider3" style="width:100%;" />
        <div class="carousel-caption">
            <h3>Bootstrap Slider</h3>
            <p>We are learning Bootstrap slider with caption</p>
        </div>
    </div>
</div>
<!-- Left and right controls -->
<a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Previous</span>
</a>
<a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Next</span>
</a>
</body>
</html>