<!-- Head -->
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>Tech @ Work</title>
    <th:block th:replace="fragments/sidenav-bar :: sidenav-bar-styles"></th:block>
    <style>
        .work-img{
            width: 50%;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            margin-bottom: 20px;
            text-align: center;
        }

        #capstone-github {
            margin-bottom: 5%;
        }
    </style>

</head>

<!-- Body -->
<div id="wrapper">
    <nav th:replace="fragments/sidenav-bar :: sidenav-bar"></nav>

    <!-- Content -->
    <div id="content">
        <nav th:replace="fragments/sidenav-bar :: sidenav-bar-toggler"></nav>

        <!-- Actual Content -->

        <div class="container-fluid">
        <h1 class="text-center">BEHIND THE SCENES</h1>


            <div class="text-center">
                <img class="work-img" src="img/github-screenshot.png" alt="github"/>
                <p>Capstone github</p>
            </div>

            <div class="text-center" id="capstone-github">
                <a href="https://github.com/Tech-knowledge-y/Capstone" target="_blank" class="btn btn-primary">CAPSTONE GITHUB</a>
            </div>

            <div class="text-center">
                <img class="work-img" src="img/trello-board.png" alt="trello"/>
                <p>Trello Board To Do List</p>
            </div>
        <div class="text-center" id="trello-board">
                <a href="https://trello.com/b/J4A0ybqN/techknowledgey" target="_blank" class="btn btn-primary" >TRELLO BOARD</a>
            </div>
            <br />

            <div class="text-center">
                <img class="work-img" src="img/db1.jpg" alt="database"/>
                <p>Whiteboarding at Geekdom</p>
            </div>

            <div class="text-center">
                <img class="work-img" src="img/logo-rough.jpg" alt="database"/>
                <p>Original logo sketch</p>
            </div>

            <div class="text-center">
                <img class="work-img" src="img/wireframes.jpg" alt="wireframes"/>
                <p>Original Wireframes</p>
            </div>

            <div class="text-center">
                <img class="work-img" src="img/tech-palette.png" alt="palette"/>
                <p>Color Palette</p>
            </div>



        </div>
    </div>
</div>

<!-- Overlay -->
<div class="overlay"></div>

<script th:replace="fragments/sidenav-bar :: sidebar-nav-scripts"></script>